@model RegisterVM
<div style="height:92px;">
</div>
<section>
    <div class="block no-padding  gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner2">
                        <div class="inner-title2">
                            <h3>Register</h3>
                            <span>Keep up to date with the latest news</span>
                        </div>
                        <div class="page-breacrumbs">
                            <ul class="breadcrumbs">
                                <li><a href="#" title="">Home</a></li>
                                <li><a href="#" title="">Pages</a></li>
                                <li><a href="#" title="">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signup-popup-box static">
                        <div class="account-popup">
                            <h3>Sign Up</h3>
                            <span>Lorem ipsum dolor sit amet consectetur adipiscing elit odio duis risus at lobortis ullamcorper</span>

                            <form method="post" enctype="multipart/form-data">

                              @*  <div class="select-user mb-4">
                                    <span>
                                        <input asp-for="Role" value="true" checked />Candidate</>
                                        <span asp-validation-for="Role"></span>
                                    </span>
                                    <span>
                                        <input asp-for="Role" value="false">Employer</>
                                        <span asp-validation-for="Role"></span>
                                    </span>
                                </div>
*@
                                <p class="remember-label">
                                    <input asp-for="Role" id="cb1"><label for="cb1">Im Emrployer</label>
                                </p>
                                <div class="cfield">
                                    <input asp-for="Name" placeholder="Name" />

                                    <i class="la la-user"></i>
                                    <span asp-validation-for="Name" style="color:rebeccapurple;"></span>
                                </div><div class="cfield">
                                    <input asp-for="Surname" placeholder="Surname" />

                                    <i class="la la-user"></i>
                                    <span asp-validation-for="Surname" style="color:rebeccapurple;"></span>

                                </div><div class="cfield">
                                    <input asp-for="UserName" placeholder="Username" />

                                    <i class="la la-user"></i>
                                    <span asp-validation-for="UserName" style="color:rebeccapurple;"></span>
                                </div>                   <div class="cfield">
                                    <input asp-for="Email" placeholder="Email" />

                                    <i class="la la-envelope-o"></i>
                                    <span asp-validation-for="Email" style="color:rebeccapurple;"></span>
                                </div>
                                <div class="cfield">
                                    <input asp-for="Password" placeholder="Password" />

                                    <i class="la la-key"></i>
                                    <span asp-validation-for="Password" style="color:rebeccapurple;"></span>
                                </div>
                                <div class="cfield">
                                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" />

                                    <i class="la la-key"></i>
                                    <span asp-validation-for="ConfirmPassword" style="color:rebeccapurple;"></span>
                                </div>

                                <div class="dropdown-field cfield">

                                    <select asp-for="PositionId">
                                        @foreach (Position item in ViewBag.Professions)
                                        {
                                            <option value="@item.id">@item.PositionName</option>
                                        }
                                        <option selected disabled>Select Profession</option>
                                    </select>

                                    <span asp-validation-for="PositionId" class="text-danger"></span>

                                </div>
                                <div class="cfield">
                                    <input asp-for="Photo" placeholder="Profile Photo" />
                                    <span asp-validation-for="Photo"></span>

                                    <i class="la la-photo"></i>
                                </div>
                                <div asp-validation-summary="ModelOnly"></div>
                                <button type="submit">Signup</button>
                            </form>
                            <div class="extra-login">
                                <span>Or</span>
                                <div class="login-social">
                                    <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                    <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>