

<center>

    <div style="width:50%; margin-top:250px">
        <h2 style="color:green;">
            You have successfully confirmed your email.<br /><br />
            <a asp-action="index" asp-controller="home" class="btn btn-success"><i class="la la-home" style="padding:0,250px"></i>Go To Home</a>
        </h2>
    </div>

</center>





