
<div style="height:92px;">
</div>
<section>
	<div class="block no-padding gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner2">
						<div class="inner-title2">
							<h3>Confirm Email</h3>
							<span>Keep up to date with the latest news</span>
						</div>
						<div class="page-breacrumbs">
							<ul class="breadcrumbs">
								<li><a href="#" title="">Home</a></li>
								<li><a href="#" title="">Pages</a></li>
								<li><a href="#" title="">Confirm Email</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Button -->
<center>

    <div style="width:50%">

        <strong>
            <h2 style="color:green">
                Successfully registered, Please confirm your email
            </h2>
        </strong>

    </div>

</center>

