@model Setting


<div class="col-md-6 grid-margin stretch-card mt-5 mx-auto" style="margin-top:200px!important;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mt-3 mb-3"> Create Category</h4>

            <form method="post" class="forms-sample">


                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Value" class="form-control" id="Name">
                    <span asp-validation-for="Value" class="text-danger"></span>

                </div>
            
                <button type="submit" class="btn btn-primary mr-4 mt-3 ml-2">Update</button>
                <a asp-action="index" asp-area="admin" asp-controller="category" class="btn btn-light mt-3 ml-2">Cancel</a>
            </form>
        </div>
    </div>
</div>