@model Blog

<section>
	<div class="block no-padding  gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner2">
						<div class="inner-title2">
							<h3>Contact</h3>
							<span>Keep up to date with the latest news</span>
						</div>
						<div class="page-breacrumbs">
							<ul class="breadcrumbs">
								<li><a href="#" title="">Home</a></li>
								<li><a href="#" title="">Pages</a></li>
								<li><a href="#" title="">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="col-lg-6 column mx-auto">
	<div class="contact-form">
		<h3>Keep In Touch</h3>
		<form method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-lg-12">

@*					<img src="~/assets/images/BlogImages/@Model.ImageURL" style="width:250px;"/>
*@					<span class="pf-title">Image</span>
					<div class="pf-field">
						<input asp-for="Photo">
						<span asp-validation-for="Photo" class="text-danger"></span>

					</div>
				</div>
				<div class="col-lg-12">
					<span class="pf-title">Blog Title</span>
					<div class="pf-field">
						<input asp-for="Title">
						<span asp-validation-for="Title" class="text-danger"></span>


					</div>
				</div>

				<div class="col-lg-12">
					<span class="pf-title">Description</span>
					<div class="pf-field">
						<input asp-for="Description">

						<span asp-validation-for="Description" class="text-danger"></span>

					</div>
				</div>
				<div asp-validation-summary="ModelOnly" class="text-danger"> </div>
				<div class="col-lg-12 mx-auto">
					<button type="submit" class=" mb-3">Update</button>
				</div>
			</div>
		</form>
	</div>
</div>